<mat-tab-group>
    <mat-tab label="TTZ total"> 
    
        <app-sales-table [dataSource]="dataSourceTTZ"/>
    
    </mat-tab>



    <mat-tab label="Agra"> 
        <app-sales-table [dataSource]="dataSourceAgra"/>
    </mat-tab>



    <mat-tab label="Firozabad">
        <app-sales-table [dataSource]="dataSourceFirozabad"/>
    </mat-tab>

    <mat-tab label="Vrindavan">
        <app-sales-table [dataSource]="dataSourceVrindavan"/>
    </mat-tab>
    
    <mat-tab label="Bharatpur">
        <app-sales-table [dataSource]="dataSourceBharatpur" (onDeleteClick)="onDeleteClick('')"/>
    </mat-tab>
    
  </mat-tab-group>
  
  <button mat-fab aria-label="add button" class="fab-btn" (click)="onAddClick()">
    <mat-icon>add</mat-icon>
  </button>