<mat-tab-group>
    <mat-tab label="TTZ total"> 
    
        <app-sales-table [dataSource]="dataSource"/>
    
    </mat-tab>



    <mat-tab label="Agra"> 
        <app-sales-table [dataSource]="dataSource"/>
    </mat-tab>



    <mat-tab label="Firojabad">
        <app-sales-table [dataSource]="dataSource"/>
    </mat-tab>

    <mat-tab label="Vrindavan">
        <app-sales-table [dataSource]="dataSource"/>
    </mat-tab>
    
    <mat-tab label="Bharatpur">
        <app-sales-table [dataSource]="dataSource"/>
    </mat-tab>
    
  </mat-tab-group>
  