
.title-text{
    //font-size: 18px;

    font: 400 1.2rem / 1.5rem Roboto, sans-serif;
    letter-spacing: .031rem;
    margin: 0 auto 0 10px;
  }
  
  .header{
    align-items: center;
  }
  
  .spacer-horizontal{
    flex:1;
  }