<mat-nav-list>
    <a mat-list-item (click)="openLink('Agra')">
      <span matListItemTitle>Agra</span>
      <span matLine>Agra site</span>
    </a>
  
    <a mat-list-item (click)="openLink('Firozabad')">
      <span matListItemTitle>Firozabad</span>
      <span matLine>Firozabad site</span>
    </a>
  
    <a mat-list-item (click)="openLink('Vrindavan')">
      <span matListItemTitle>Vrindavan</span>
      <span matLine>Vrindavan site</span>
    </a>
  
    <a mat-list-item (click)="openLink('Bharatpur')">
      <span matListItemTitle>Bharatpur</span>
      <span matLine>Bharatpur site</span>
    </a>
  </mat-nav-list>
  