.row{
    display: flex;
    gap: 10px;

    mat-form-field {
      width: 100%;
       
    }
}

mat-dialog-actions{
    button{
        flex: 1;
    }
}

.btn-secondary{
    background-color: #d2ced5;
    color: black;
      
}