

<app-nav-bar (menuClick)="sideNav.toggle()"/>

<mat-drawer-container autosize>
    
    <mat-drawer mode="side" #sideNav opened>
   
      <mat-nav-list>
        <mat-list-item  routerLink="/home/dashboard" (click)="onSideNavClick($event)">
          <mat-icon matListItemIcon>dashboard</mat-icon> <span>Dashboard</span>
        </mat-list-item>
        <mat-list-item routerLink="/home/customers" (click)="onSideNavClick($event)">
          <mat-icon matListItemIcon>supervisor_account</mat-icon> <span>Customer</span>
        </mat-list-item >

        <mat-list-item (click)="onSideNavClick($event)">
          <mat-icon matListItemIcon>settings</mat-icon> <span>Settings</span>
        </mat-list-item>

        <mat-list-item (click)="onSideNavClick($event)">
          <mat-icon matListItemIcon>analytics</mat-icon> <span>Analytics</span>
        </mat-list-item>
      

      </mat-nav-list>

    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
  
    </mat-drawer-content>
  </mat-drawer-container>
  


        
  



<app-footer/>
